body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
}

.hidden { /*Hides hidden stuff.*/
    display: none;
}

#visual {
    position: relative;
    width: 800px; height: 800px;
    margin: auto;
    border: 3px #0f0f0f;
}

#backround {
    width: 100%; height: 100%;
    object-fit: cover;
}

#charecter {
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    max-height: 80%;
    scale: 200%;
}

#DialogueFrame {
    background-color: rgba(59, 106, 180, 0.5);
    border: 2px solid white; 
    border-radius: 10px; 
    padding: 15px; 
    width: 60%; 
    max-width: 600px;
    position: absolute; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center; 
}

#Dialogue {
    color: white;
}

#CNT {
    background-color: rgba(255, 142, 142, 0.829);
    border: 1.5px solid white;
    border-radius: 30px;
    color: white;
    padding: 6px 12px;
    margin: 5px 5px;
    transition: all 0.2 ease-in-out;
}

#CNT:hover {
    background-color: rgb(65, 65, 255);
}

.Title-Cont {
    background-color: rgba(79, 79, 255, 0.618);
    display: block;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 5px;
}

#Main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black; /* Dark background */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#titleBG {
    width: 100%;
    height: auto;
     position: absolute;
    z-index: -1;
}

#startgame {
    background-color: rgba(255, 149, 0, 0.843);
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#startgame:hover {
    background-color: orangered
}
